# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Spark/Hadoop locales
spark-warehouse/
metastore_db/
derby.log

# Datos y reportes (No se suelen subir datos crudos a GitHub)
data/
report/*.png
batch_*.csv